<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Product Details Retrieval</display-name>
  <welcome-file-list>
    <welcome-file>product.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>com.simplilearn.productretrieval.Product</servlet-name>
    <servlet-class>com.simplilearn.productretrieval.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.productretrieval.Product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>  
</web-app>